<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <i class="material-icons">games</i>Bandido Game App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <div cdkDropImage class="row" >
    <div class="stack">
    <div class="stack2" *ngFor="let card of cardsArray">
      <img cdkDrag [src]="card" class="next_img"> <br/>
   </div>
  </div>
    <!-- <button (click)="onClickMe()">Koniec ruchu</button>
    <img cdkDrag [src]="cardUrl" class="next_img"> <br/> -->

    <img [src]="url" class="start_img"> <br/>
    
  </div>
