<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div id="window">
  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <i class="material-icons">games</i>Bandido Game App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="navbarButtons">
            <a (click)="Logout()">Wyloguj</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="allthethings">
      <button (click)="singlePlayer()" id="single">SINGLE PLAYER</button>
      <button (click)="multiplayer()" id="multiplayer">MULTIPLAYER</button>
      <button (click)="ranking()" id="options">RANKING</button>
      <button (click)="help()" id="credits">POMOC</button>
      
    </div>
</div> 